KRAKEN_API_KEY=
KRAKEN_API_SECRET=
KRAKEN_BASE_URL=https://api.kraken.com
KRAKEN_WS_URL=wss://ws.kraken.com/v2
KRAKEN_WS_CHANNEL=ticker
KRAKEN_WS_TICKER_EVENT_TRIGGER=bbo
KRAKEN_WS_BOOK_DEPTH=10
KRAKEN_WS_TRANSPORT_STALE_SEC=30
KRAKEN_ENV=spot
