[Unit]
Description=Run Kraken token profile selector periodically
Requires=kraken-token-profile-selector.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=2min
Unit=kraken-token-profile-selector.service

[Install]
WantedBy=timers.target
